.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 84px;
}

.main .sections {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns:  1fr 500px;
  gap: 1rem;
  padding: 1rem;
}

.main .sections .leftSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.main .sections .leftSection .carrossel  {
  border: 5px solid #008abf;
    border-radius: 20px;
    padding:0.25rem;
}

.main .sections .leftSection .carrossel img {
  width: 100%;
  height: 450px;
  border-radius: 20px;
  object-fit: cover;
}

.main .sections .rightSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.preferencial {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.preferencial span {
  font-weight: bold;
  font-size: 0.8rem;
}

.preferencial ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.preferencial ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.preferencialTitle {
  color: #423c3c;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.preferencialSubTitle {
  color: #008abf;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.actualPassword {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 300px;
  padding: 1rem;
 
  gap: 1rem;
  border-radius: 20px;
  border: 5px solid #e6b808;
  background: #ededed;
}

.actualPassword h2 {
  width: 100%;
  color: #423c3c;
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
}

.actualPassword h1 {
  color: #00a9e2;
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.lastPasswords {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;  
}

.lastPasswords h3 {
  color: #423C3C;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.lastPasswords h4 {
  color: #01759C;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.nextPasswords {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 5px solid #797676;
  background: #ededed;
  padding: 1rem;
}

.nextPasswords h2 {
  color: #423c3c;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.nextPasswords ul {
  list-style: none;
  color: #4e4f4f;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: stretch;
  padding: 1rem;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d9d9d9;
  padding:1rem 2rem;
}

.hourDate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}